@import url("https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap");

body {
    font-family: 'Reenie Beanie', cursive;
    margin: 0;
    font-size: 25px;
}

.hide {
    display: none !important;
}

.centerText {
    text-align: center;
}

.endText {
    text-align: end;
}

.centerElement {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fontSZ50 {
    font-size: 50px;
}

.fontSZ100 {
    font-size: 100px;
}

.pointer {
    cursor: pointer;
}

.rotate45 {
    transform: rotate(45deg);
}

.width50px {
    width: 50px;
}

.width50pct {
    width: 50%;
}

.fixed {
    position: fixed;
}

.marginT100px {
    margin-top: 100px;
}

.marginT50px {
    margin-top: 50px;
}

.flxDirCl {
    flex-direction: column;
}

.lftMargin15px {
    margin-left: 15px;
}

.rgtMargin3em {
    margin-right: 3em;
}

.marginR100px {
    margin-right: 100px;
}

/**********************************************/

.content {
    width: 100vw;
    height: 100vh;
}

.leftVine {
    position: fixed;
    z-index: 2;
    height: 395px;
}

.topVine {
    position: fixed;
    z-index: 2;
    left: 0;
    width: 395px;
}

.bottomVine {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    width: 395px;
}

.rightVine {
    position: fixed;
    z-index: 2;
    right: 0;
    bottom: 0;
    height: 395px;
}

.contentFrame {
    display: flex;
    padding: 50px 70px;
}

.topMenu {
    width: 25%;
    height: 350px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding-left: 3em;
}

.dp {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: pink 3px solid;
    background-color: lightcoral;
}

.mainContent {
    width: 75%;
    padding: 70px 70px;
    height: calc(100vh - 100px);
    overflow-y: scroll;
    box-sizing: border-box;
}

@keyframes drop {
    from {
      transform: translate3d(0, -100%, 0);
    }
    to {
      transform: none;
    }
}

.drop {
   animation-name: drop;
   animation-duration: 1.5s;
   animation-fill-mode: forwards;
}

.SB:hover {
    transform: rotateZ(90deg);
}

#menu {
    width: 182px;
}

#menu a {
    color: #000000;
    text-decoration: none;
}

#menu .active span {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: 2px solid black;
    padding: 6px 6px;
}

.bubbleFrame {
    position: absolute;
    top: 10%;
    right: 10%;
}

.bubble {
    width: 60%;
}

.ri {
    position: absolute;
}

.htmlLogo:hover {
    color: #f06529;
    transition: color 0.8s;
}

.cssLogo:hover {
    color: #264de4;
    transition: color 0.8s;
}

.jsLogo:hover {
    color: #F0DB4F;
    transition: color 0.8s;
}

.nodeLogo:hover {
    color: #68A063;
    transition: color 0.8s;
}

.pyLogo:hover  {
    color: #4B8BBE;
    transition: color 0.8s;
}

.reactLogo:hover  {
    color: #61dbfb;
    transition: color 0.8s;
}

.gitLogo:hover {
    color: #800080;
    transition: color 0.8s;
}

.tsLogo {
    width: 100px; 
}

.mongoLogo {
    width: 300px;
}

.filterGS1 {
    filter: grayscale(1);
    transition: filter 0.8s;
}

.filterGS1:hover {
    filter: grayscale(0);
}

.logoFrame {
    display: flex;
    justify-content: end;
}